
a[href^="https://www.google.com/"]{
    color: green;
}

a[href="https://www.link-group.eu/"]{
    color: red;
}

#second-div p:nth-child(2n+1){
    color: red;
}
#second-div p:nth-child(2n+2){
    color: blue;
}

#first-div > p::after{
    content: " -NEW";
    color: yellow;
}

body > p:last-child:hover{
    font-style: italic;
}